.twitter-timeline{
  width: 300px;
  height: 100%;
}

.header {
	background: rgba(25, 64, 117, 0.5);
	position: relative;
	overflow: hidden;
	height: auto;
}

@media (max-width: 768px) {
    #sitename.affix {
        position: static !important;
    }
    #main-nav{
    	margin-bottom: 0 !important;
    }
    #main-nav.affix{
    	position: fixed !important;
	top: 0px;
	width: 100%;
	z-index: 10;
    background-color: rgba(25,64,117,1);

    }
    .header{
    	padding-bottom:0 !important;
    }
    
    #main-nav li{
        background: rgba(34,34,34,1) !important;
    }
    #main-nav.affix li{
        background: rgba(0,0,0,0) !important;
    }
    .navbar li{
    	    display: block !important;
    	    width: inherit;
    	    margin: 0px;
    	    margin-top: 0px !important;
    	    margin-right: 0px!important;
    	    padding-right: 20px;
    	    padding-top: 5px; 
    	    text-align: right;
    
    }
    .navbar a{
    	color: #dddddd !important;
    }
    #nav_cont{
    	width:100% !important;
    	margin-left: 0px !important;
    	margin-right: 0px !important;
    }
   .current:before {
	width: 0px !important;
	
	}
	.wow {
	  visibility: visible !important;
	  -webkit-animation: none !important;
	     -moz-animation: none !important;
	       -o-animation: none !important;
	      -ms-animation: none !important;
	          animation: none !important;
	}
}


 #crownlogo{ margin-top:10px; margin-left:10px; height:60px; float:left; }
 #egsclogo{ margin-top:15px; height:100px; float:right; }
  @media all and (max-width: 479px) {
 #crownlogo{float:none; height:30px;}
 #egsclogo{height:30px;}
}
 
 @media all and (min-width: 480px) and (max-width: 767px) {
 #crownlogo{float:none; height:40px;}
 #egsclogo{height:40px;}
 }

@media all and (min-width: 768px) {
 .navbar .navbar-nav {
  display: inline-block;
  float: none !important;
}
 .navbar .navbar-collapse {
  text-align: center;
}
}

 @media all and (min-width: 768px) and (max-width: 979px) {
 #egsclogo{ margin-right:10px; float:right; }

 }
 /*@media (min-width: 1200px) {
 #egsclogo{ margin-right:50%; position: relative; right:-237px; margin-left: -237px; float:right; }

 }*/
 @media all and (min-width: 1300px) {
 #egsclogo{ margin-right:2%; position: relative; float:right; }

 }
 @media all and (min-width: 1700px) {
 #egsclogo{ margin-right:2%; position: relative; float:right; }

 }
#sitename.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}
/*#banner{
	background-image: url('../images/dark_blue_gradient.png');
}*/
#main-nav{
	background-color: #accce6 ;
	position: relative !important;
}


a.anchor{display: block; position: relative; visibility: hidden;}



/*#main-nav.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
}*/
/* #sitename 
 { 
    text-align: center; 
    height: auto; padding-bottom: 10px;
     background-repeat:repeat-x; background-color:#194075; 
     overflow: hidden;
 }*/
 #banner 
 { 
    text-align: center; 
    height: auto; padding-bottom: 10px;
     background-repeat:repeat-x; background-color:#194075; 
     overflow: hidden;
 }
/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    
    font-size: 100%;        
}

body {
	font-family: 'Lato', sans-serif !important;
	font-size: 14px;
	color: #808080;
	font-weight: normal;
	overflow-x: hidden;
	line-height: 25px;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* Other fixes*/
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	        box-sizing: border-box;
}
i {
	vertical-align: middle;
}
ul, ol {
padding-left: 0 !important; 
}
li {
    list-style: none;
}
/* Selection colours (easy to forget) */
::-moz-selection {
	background: #FC6D6D;
	color: #FFF;
}
::selection {
	background: #FC6D6D;
	color: #FFF;
}
::-moz-selection {
	background: #FC6D6D;
	color: #FFF;
}

a {
	color: #e96656;
	-webkit-transition: all 700ms;
	        transition: all 700ms;
}

a,a:hover {
	text-decoration: none;
}
a:hover {
	color: #cb4332;
}
p {
    margin: 0;
}
.full-width {
	width: 100%;
	margin: auto;
}

/*---------------------------------------
 **   TYPOGRAPHY                     -----
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1,h2 {
	font-family: 'Montserrat', 'sans-serif';
	font-weight: 700;
	text-transform: uppercase;
}
h1 {
	font-size: 55px;
}
h2 {
	font-size: 45px !important;
	line-height: 55px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 17px;
}
h6 {
	font-size: 16px;
}



/* PRE LOADER */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 99999;
	height: 100%;
	width: 100%;
	overflow: hidden !important;
}
.status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}




/*----  SECTION:  HOME > TOP BAR   ----*/
.navbar {
	background: #FFF;
	overflow: hidden;
	border: 0;
	border-radius: 0 !important;
	text-align: left;
	-webkit-box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
	        box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
}
#main-nav {
	position: absolute;
	width: 100%;
	z-index: 1000;
	height: 0px;
}
#main-nav.fixed {
	position: fixed !important;
	top: 0;
}
.navbar-inverse .navbar-nav>li {
	display: inline;
	margin-right: 20px;
	margin-top: 20px;
}
.navbar-inverse .navbar-nav>li:last-child {
	margin-right: 0 !important;
}
.navbar-inverse .navbar-nav>li>a {
	color: #222222;
	padding: 0;
	line-height: 35px;
}
.navbar-brand {
	height: 76px;
	position: relative;
	line-height: 45px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	/*color: #e96656;*/
	color: #919191;
}
.navbar-toggle {
	border: 0;
	background-color: #404040;
        margin-top: 23px;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle:focus {
	background-color: ##194075;
	filter: alpha(opacity=100);
	opacity: 1;
}

