/* Personal Styles: SK */
 #footer-wrap {
 	height: 50px;
 	overflow: hidden !important;
 	padding: 10px 25px 5px 75px; 
}

#header{
	margin-left:auto; 
    margin-right:auto;
    height: 50px;
}

#wsite-content { 
 	margin-left: auto;
 	margin-right: auto;
 	width: 90%;
}



ul.wsite-menu-default{	
	margin-bottom: 0px;
	line-height: 35px;
}

#footlogo {
	height: 40px;
	margin: 0px;
 	padding: 0px;
 	float: left;
}

ul.list { 
	list-style-type: disc;
	padding: 20px !important;
}

.left {
	margin: 0 10px 10px 0;
	float: left;
}

.right {
	margin: 0 0 10px 10px;
	float: right;
}

.person_row {
	display: table-row;
	margin: 10px 0 0 0;
}

#newsletter  ul{
	list-style-type: disc;
	padding: 20px !important;
}

#newsletter {
	margin-top: 35px;
}

@media only screen and (min-width:960px){
	#newsletter{
     	zoom: 160%;
	}
}

@media only screen and (max-width:600px){
	#newsletter{
     	zoom: 60%;
	}
}

ol.list > li { list-style-type: decimal;}

/* End Personal Styles: SK */ 
 
 
 
 
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; }
 ::-webkit-input-placeholder { color: #626262; }
 :-moz-placeholder { color: #626262; }
 ::-moz-placeholder { color: #626262; }
 :-ms-input-placeholder { color: #626262; }
 #header .wsite-search-input::-webkit-input-placeholder { color: #fff; }
 #header .wsite-search-input:-moz-placeholder { color: #fff; }
 #header .wsite-search-input::-moz-placeholder { color: #fff; }
 #header .wsite-search-input:-ms-input-placeholder { color: #fff; }
 body { font-family: 'Lato', sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; color: #000000; height: 100%; background: #fff url('theme/default-bg.jpg?620063') center center no-repeat; background-size: cover; background-attachment: fixed; }
 .tall-header-page, .short-header-page, .no-header-page, .landing-page { background: #222121; }
 .tall-header-page .wsite-background, .short-header-page .wsite-background, .landing-page .wsite-background { background: #fff url('theme/default-bg.jpg?620063') center center no-repeat; background-size: cover; }
 html { height: 100%; }
 #header-wrap, #banner-wrap, #nav-wrap, #main-wrap, #footer-wrap { width:100%; }
 a { color: #001c80; }
 a:hover { color: #9ACCED; }
 h1 { font-size: 40px; padding: .5em 0 .2em 0; line-height: 1.2; font-weight: normal; color: #000000; text-transform: uppercase; }
 
 h2 { font-size: 25px; padding: .5em 0 .2em 0; line-height: 1.2;  font-weight: normal; color: #000000; text-transform: uppercase; }
 h2 font { vertical-align: middle; }
 div.paragraph { font-size: 16px; line-height: 1.5; padding: .5em 0; }
 p { font-size: 16px; line-height: 1.5; padding: .5em 0; }
 blockquote { background: url("theme/quotes.png?620063") no-repeat 0px 25px; font-family: 'Lato', sans-serif; font-size: 18px; font-weight: bold; line-height: 28px; color: #000000; padding: 1em; margin: 2em 0; border-left: 0px !important; padding-left: 30px !important; }
 div#content {min-height:400px;}
 .landing-page .wsite-background { -moz-box-sizing: border-box; box-sizing: border-box; min-height: 100%; overflow: hidden; }
 #logo { padding-right: 25px !important; }
 #logo, #logo a { color: #fff; text-transform: uppercase; font-size: 24px; font-family: 'Bebas'; font-weight: normal; }
 #logo a:hover { color: #fff; }
 #logo img, #wsite-title { max-height: 52px; display: block; }
 #header td { vertical-align: middle; text-align: left; }
 #header table {width: 1px; }
 #header td { padding: 0; }
 #nav-wrap { position: fixed; top: 0; left: 0; border-top: 3px solid #9ACCED; background: rgb(0,0,0); background: rgba(0,0,0,0.8); z-index: 999; }
 #nav-wrap .container { clear: both; overflow: hidden; position: relative; }
 #nav-wrap .container ul { list-style: none; overflow: hidden;}
 #nav-wrap .container ul li { list-style: none; float: left; margin-right: 17px; text-transform: uppercase; }
 #nav-wrap .container ul span:last-child li, #nav-wrap .container ul > li:last-child { background: none; }
 #nav-wrap .container ul li a { float: left; display: block; font-family: 'Lato', sans-serif; color: #fff; padding: 14px 12px; border: 0; outline: 0; list-style-type: none; font-size: 13px; font-weight: bold; }
 #nav-wrap .container ul li#active a, #nav-wrap .container ul li a:hover { color: #001c80; background: #9ACCED; border: 0;}
 #wsite-menus .wsite-menu li a { font-family: 'Lato', sans-serif; padding: 10px 0; padding-left: 4px; font-size: 13px; color: #fff; background: url("theme/submenu-bg.png?620063") repeat left top; border: 0; border-bottom: 1px solid #303030; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: url("theme/submenu-hover-bg.png?620063") repeat left top; border-left: 4px solid #9ACCED; padding-left: 0; }
 #banner-wrap { display:none; }
 .landing-page .banner-wrap #banner, .tall-header-page .banner-wrap #banner, .short-header-page .banner-wrap #banner { padding: 0; display: table-cell; text-align: center; vertical-align: middle; }
 #banner td { vertical-align: middle !important; text-align: center; }
 #banner h2 { color: #fff; font-size: 100px; padding: 0px; text-transform: uppercase; }
 #banner div.paragraph { color: #fff; font-size: 18px; padding: 20px 0 40px; font-family: 'Lato', sans-serif; text-shadow: 1px 1px 2px rgba(0,0,0,0.35); text-transform: uppercase; }
 #banner p { color: #fff; font-size: 18px; padding: 20px 0 40px; font-family: 'Lato', sans-serif; text-shadow: 1px 1px 2px rgba(0,0,0,0.35); text-transform: uppercase; }
 .tall-header-page #banner { height: 346px; text-align: center; }
 .tall-header-page .banner-wrap { display: table; width: 100%; height: 346px; padding-top: 50px; }
 .short-header-page #banner { height: 196px; text-align: center; }
 .short-header-page .banner-wrap { display: table; width: 100%; height: 196px; padding-top: 50px; }
 .no-header-page .wsite-header { display:none; }
 #splash-wrap { height: 100%; display: table; width: 720px; margin: 0 auto; height: 100%; padding: 115px 0 60px 0; }
 .splash-page .main-wrap { display: table-cell; vertical-align: middle; }
 .splash-page .main-wrap #content-section { background: none; padding: 70px 90px 50px; background: rgb(0, 0, 0); background: rgba(0,0,0,0.5); }
 .splash-page #content-section h2 { color: #fff; padding: 0px; text-transform: uppercase; }
 .splash-page #content-section div.paragraph { color: #fff; font-size: 18px; padding: 20px 0 40px; font-family: 'Lato', sans-serif; text-shadow: 1px 1px 2px rgba(0,0,0,0.35); }
 .splash-page #content-section p { color: #fff; font-size: 18px; padding: 20px 0 40px; font-family: 'Lato', sans-serif; text-shadow: 1px 1px 2px rgba(0,0,0,0.35); }
 .landing-page #header-wrap .container { height: 100%; }
 .landing-page .banner-wrap { position: relative; display: table; width: 100%; height: 100%; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 51px; padding-bottom: 55px; }
 .landing-page #main-wrap .container h2 { font-size: 40px; line-height: 45px; }
 .landing-page .button-wrap { display: inline-block; }
 .landing-page #banner h2, .landing-page #banner div.paragraph { max-width: 960px; margin: 0 auto; }
 .landing-page #banner h2, .landing-page #banner p { max-width: 960px; margin: 0 auto; }
 #skip-to-content { display: block; margin: auto; position: absolute; bottom: 0; left: 0; right: 0; width: 42px; height: 55px; background: transparent url('theme/landing-indicator.png?620063') center top no-repeat; opacity: 0.5; -webkit-transition: opacity 0.5s; }
 #skip-to-content:hover { opacity: 1; }
 .landing-page #main-wrap, .tall-header-page #main-wrap, .short-header-page #main-wrap, .no-header-page #main-wrap { padding-top: 56px; background: #fff url('theme/body-bg.png?620063') 0 0 repeat; }
 .no-header-page #main-wrap { padding-top: 110px; }
 #main-wrap .container { min-height:400px; padding-bottom: 30px; }
 #main-wrap .container h2 { font-size: 32px; line-height: 37px; padding: 0 0 14px; }
 #main-wrap .paragraph ul #main-wrap .paragraph ol { margin: 0 !important; padding: 0 !important; }
 #main-wrap .paragraph li { padding-left: 15px !important; }
 #main-wrap .container form .wsite-button { margin-top:20px; }
 html body .galleryImageBorder, html body a .galleryImageBorder { border: 4px solid #f5f5f5 !important; }
 .wslide { font-family: inherit; }
 .wslide .wslide-caption { opacity: 0 !important; filter: alpha(opacity=0) !important; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; bottom: 0; top: 0; }
 .wslide:hover .wslide-caption { opacity: 1 !important; filter: alpha(opacity=100) !important; }
 .wslide-caption-bg { background-color: rgba(243,200,0,0.85) !important; opacity: 0.85 !important; filter: alpha(opacity=85) !important; }
 .wslide-caption:before { content: ''; display: inline-block; vertical-align: middle; height: 100%; }
 .wslide-caption-text { display: inline-block; vertical-align: middle; text-align: center !important; width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; text-shadow: none !important; }
 #footer-wrap { text-align:right; background: #222121; font-size: 13px; color: #fff;}
 #footer-wrap .container h2 { font-size: 13px; color: #989794; font-weight: bold; font-family: 'Lato', sans-serif; }
 #footer-wrap .container div.paragraph { font-size: 13px; padding: 15px 0; }
 #footer-wrap .container p { font-size: 13px; padding: 15px 0; }
 #footer-wrap .container blockquote { background: url("theme/quotes.png?620063") no-repeat 0px 15px; font-size: 15px; color: #fff; }
 #footer-wrap .wsite-form-container { text-align:left; margin-top: 0 !important; }
 #footer-wrap .wsite-form-label, #footer-wrap .form-radio-container { color: #fff; font-size: 13px; }
 .wsite-form-label { display: inline-block; font-family: 'Lato', sans-serif; font-size: 15px; font-weight: normal; }
 .form-radio-container { font-family: 'Lato', sans-serif; font-size: 15px; font-weight: normal; }
 .wsite-form-input, .wsite-search-element-input { font-family: 'Lato', sans-serif; font-size: 15px; font-weight: normal; background: #fff; border: 1px solid #e0e0e0; padding: 5px 7px; width: 300px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .form-select { font-family: 'Lato', sans-serif; font-size: 15px; font-weight: normal; background: #fff; border: 1px solid #e0e0e0; padding: 8px 5px; width: 300px; height: 40px !important; line-height: 44px !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
 .splash-page .wsite-form-label, .splash-page .form-radio-container, .splash-page .wsite-form-input, .splash-page .wsite-search-element-input .splash-page .form-select { color: #999; }
 .wsite-button { display: inline-block; padding: 0; background: #f3c800; border-radius: 20px; text-transform: uppercase; }
 .wsite-button:hover { background: #fed722; }
 .wsite-button-inner { color: #333 !important; font-family: 'Lato', sans-serif; display: block; font-size: 14px; font-weight: 500; padding: 0 15px; background: none; text-transform: uppercase; height:40px; line-height:40px; }
 .wsite-button-large { color: #fff !important; background: #f3c800; padding: 0; border-radius: 24px; }
 .wsite-button-large:hover { background: #fed722; }
 .wsite-button-large .wsite-button-inner { padding: 0 30px; height:48px; line-height:48px; background: none; font-size: 16px; }
 .wsite-button-highlight, .wsite-button-large.wsite-button-highlight, .wsite-button-large.wsite-button-highlight .wsite-button-inner { background: #dfded9; color: #333; }
 .wsite-button-highlight .wsite-button-inner { background: none; }
 .wsite-button-highlight:hover, .wsite-button-highlight:active, .wsite-button-large.wsite-button-highlight:hover, .wsite-button-large.wsite-button-highlight:hover .wsite-button-inner { background: #d1d0ca; }

div.paragraph ul, div.paragraph ol { padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
